<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test thread-count="5" name="QA20221205_1">
        <classes>
            <class name="AllAuthorization">
                <methods>
                    <include name="ourTestNegative"/>
                </methods>
            </class> <!-- AllAuthorization -->
        </classes>
    </test> <!-- QA20221205_1 -->
</suite> <!-- Default Suite -->